.container {
    display: flex;
    flex-direction: row;
}

textbook {
    font-size: 20px;
    width: 50%;
    
}

worksheet {
    font-size: 20px;
    width: auto;
    
}

.controller {
    margin: 0 10px;
    width: 1px;
    border-left: 1px solid #000;
}